wildfly-preview-26.0.1.Final/standalone/data/wsdl/72.SOAP-JAX-WS-1.0-SNAPSHOT.war/ServicioWsImplService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicioWsImplService" targetNamespace="http://services.soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.soap/" elementFormDefault="unqualified" targetNamespace="http://services.soap/" version="1.0">

  <xs:element name="crear" type="tns:crear"></xs:element>

  <xs:element name="crearResponse" type="tns:crearResponse"></xs:element>

  <xs:element name="listar" type="tns:listar"></xs:element>

  <xs:element name="listarResponse" type="tns:listarResponse"></xs:element>

  <xs:element name="saludar" type="tns:saludar"></xs:element>

  <xs:element name="saludarResponse" type="tns:saludarResponse"></xs:element>

  <xs:complexType name="saludar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saludarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listar">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:curso"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crear">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:curso"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="saludar">
    <wsdl:part element="tns:saludar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listar">
    <wsdl:part element="tns:listar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearResponse">
    <wsdl:part element="tns:crearResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saludarResponse">
    <wsdl:part element="tns:saludarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarResponse">
    <wsdl:part element="tns:listarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crear">
    <wsdl:part element="tns:crear" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioWs">
    <wsdl:operation name="saludar">
      <wsdl:input message="tns:saludar" name="saludar">
    </wsdl:input>
      <wsdl:output message="tns:saludarResponse" name="saludarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input message="tns:listar" name="listar">
    </wsdl:input>
      <wsdl:output message="tns:listarResponse" name="listarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crear">
      <wsdl:input message="tns:crear" name="crear">
    </wsdl:input>
      <wsdl:output message="tns:crearResponse" name="crearResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWsImplServiceSoapBinding" type="tns:ServicioWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="saludar">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="saludar">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="saludarResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="listar">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="listarResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crear">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="crear">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="crearResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWsImplService">
    <wsdl:port binding="tns:ServicioWsImplServiceSoapBinding" name="ServicioWsImplPort">
      <soap:address location="http://localhost:8080/72.SOAP-JAX-WS-1.0-SNAPSHOT/ServicioWsImpl"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>